.header{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-block: 15px;
    gap:10px;
    background-color: aqua;
    justify-content: space-around;
}
.logo{
    background-color: blue;
    width: 70px;
}
.logo img{
    width: 100%;
}
.profile{
    width: fit-content;
    background-color: red;
}
.profile img{
    width: 100%;
}
.input {
    
}
  
.input input {
    font-family: Montserrat, Roboto, sans-serif;
    font-size: 12px;
    line-height: 14px;
    background: none;
    outline: none;
    width: 100%;
}
  